/* Write your CSS here */
.style {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
  color: black;
}

.button {
  height: 40px;
  width: 120px;
  background-color: #ffffff;
  color: #ff0b37;
  border-radius: 8px;
  border-style: solid;
  border-color: #ff0b37;
  flex-shrink: 0;
}
